<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Студентска Програма</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="degree">
        <th mat-header-cell *matHeaderCellDef>Степен на образование</th>
        <td mat-cell *matCellDef="let row">{{row.degree}}</td>
      </ng-container>

      <ng-container matColumnDef="typeOfStudy">
        <th mat-header-cell *matHeaderCellDef>Тип на обучение</th>
        <td mat-cell *matCellDef="let row">{{(row.typeOfStudy == 1) ? 'Редовно' : 'Задочно' }}</td>
      </ng-container>

      <ng-container matColumnDef="lengthOfStudy">
        <th mat-header-cell *matHeaderCellDef>Продължителност</th>
        <td mat-cell *matCellDef="let row">{{row.lengthOfStudy}}</td>
      </ng-container>

      <ng-container matColumnDef="faculty.name">
        <th mat-header-cell *matHeaderCellDef>Факултет</th>
        <td mat-cell *matCellDef="let row">{{row.faculty.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/study-programs/details/', row.id]"></tr>
    </table>
  </div>
</div>
