<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class=""></div>
  <mat-toolbar>
    <span>
      <a mat-raised-button color="primary" [routerLink]="['/students']">
        Назад
      </a>
    </span>
  </mat-toolbar>
  <div class="inside-container">
    <h1>Редактиране на Студент</h1>
    <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit(studentForm.value)">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="student.firstName" [value]="student.firstName" matInput placeholder="Първо име" formControlName="firstName">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="student.lastName" [value]="student.lastName" matInput placeholder="Последно  име" formControlName="lastName">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="student.studentNumber" [value]="student.studentNumber" matInput placeholder="Факултетен Номер" formControlName="studentNumber">
          </mat-form-field>
          <span *ngIf="studentNumber">{{studentNumber.errors}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
              <mat-label>Година на обучение</mat-label>
              <mat-select [(ngModel)]="student.yearOfStudy" formControlName="yearOfStudy">
                <mat-option *ngFor="let year of years" [value]="year.value">
                  {{year.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Форма на обучение</mat-label>
            <mat-select [(ngModel)]="student.formOfEducation" formControlName="formOfEducation">
              <mat-option *ngFor="let form of formOfEducations" [value]="form.value">
                {{form.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td formGroupName="studyProgram">
          <ng-select [items]="studyPrograms" bindLabel="name" bindValue="id" placeholder="Специалност"
          [(ngModel)]="studyProgramId" formControlName="id">
        </ng-select>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            <button mat-raised-button type="submit" [disabled]="!studentForm.valid" color="primary">Запази</button>
          </span>
        </td>
      </tr>
    </table>
  </form>

  </div>
</div>
