<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Първо Име</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef >Второ Име</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="studentNumber">
        <th mat-header-cell *matHeaderCellDef>Факултетен Номер</th>
        <td mat-cell *matCellDef="let row">№{{row.studentNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="yearOfStudy">
        <th mat-header-cell *matHeaderCellDef>Година</th>
        <td mat-cell *matCellDef="let row">{{row.yearOfStudy}}</td>
      </ng-container>

      <ng-container matColumnDef="formOfEducation">
        <th mat-header-cell *matHeaderCellDef>Форма на обучение</th>
        <td mat-cell *matCellDef="let row">{{(row.formOfEducation == 1) ? 'Редовно' : 'Задочно' }}</td>
      </ng-container>

      <ng-container matColumnDef="studyProgram.name">
        <th mat-header-cell *matHeaderCellDef>Специалност</th>
        <td mat-cell *matCellDef="let row">{{row.studyProgram.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/students/details/', row.id]"></tr>
    </table>
  </div>
</div>
